In [39]:
import pandas as pd
import os

directory = '../../Data/School/0001'
file_name_label = '0001_hei label.txt'

file_label = os.path.join(directory, file_name_label)

In [40]:
file_name_data = '0001_hei.dat'

file_data = os.path.join(directory, file_name_data)
df = pd.read_csv(file_data, sep = '\t', error_bad_lines = False)

In [41]:
df

,gakkou,seibetu,q2_1,q2_2,q2_3,q2_4,q2_5,q2_6,q3.1,q3.2,q4.1,q4.3.1,q4.3.2,q5,q7,q8
0,101,1,2,,,,,,1,1,3,2,8,2,2,
1,101,1,1,,,,,,1,1,4,2,4,2,2,
2,101,1,1,,,,,,1,1,5,3,6,1,1,
3,101,1,2,,,,,,2,2,3,2,8,2,1,
4,101,1,5,,,,,,1,1,6,2,5,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8050,1312,2,5,4,,,,,2,1,1,2,3,1,2,
8051,1312,2,5,4,,,,,2,4,1,2,6,5,6,
8052,1312,2,5,4,,,,,2,4,1,2,8,6,1,
8053,1312,2,5,4,,,,,2,4,1,2,6,2,2,
8054,1312,2,5,4,,,,,2,1,1,2,8,1,1,

In [42]:
with open(file_label, 'r') as f:
    x = f.read().splitlines()

In [43]:
def get_list_of_lists(x):
    # Return each row as a list
    list_of_lists = []
    for line in x:
        list_of_lists.append(line.split('\t'))
    return list_of_lists

In [44]:
list_of_lists = get_list_of_lists(x)

In [45]:
def search_index(keyword, list_of_lists = list_of_lists):
    # Check if the keyword is in the list
    idx_list = []
    for idx, item in enumerate(list_of_lists):
        if keyword in item[0]:
            idx_list.append(idx)
    return idx_list

In [46]:
# Split list_of_lists to variable info list and varuable value list

In [47]:
hensu_joho_idx = search_index('変数情報')[0] # id of 変数情報

In [48]:
hensu_chi_idx = search_index('変数値')[0] # id of 変数値

In [49]:
# split the list of lists
list_of_lists_info = list_of_lists[hensu_joho_idx:hensu_chi_idx] # Contains value informaiotn
list_of_lists_val = list_of_lists[hensu_chi_idx:-1] # Contains value variables

In [50]:
list_of_lists_val_1st_elem = [item[0] for item in list_of_lists_val] # First elements in val list

In [51]:
list_of_vars_info = [item[0] for item in list_of_lists_info] # list of variables in the info list

In [52]:
list_of_vars_val  = [s for s in list_of_lists_val_1st_elem if s] # list of variables in the values list

In [68]:
list_of_lists

[['\ufeff'],
 [''],
 ['変数情報', '', '', ''],
 ['変数', '位置', 'ラベル', '欠損値'],
 ['gakkou', '1', '<なし>', ''],
 ['seibetu', '2', '性別', ''],
 ['q2_1', '3', '選択科目・1', ''],
 ['q2_2', '4', '選択科目・2', ''],
 ['q2_3', '5', '選択科目・3', ''],
 ['q2_4', '6', '選択科目・4', ''],
 ['q2_5', '7', '選択科目・5', ''],
 ['q2_6', '8', '選択科目・6', ''],
 ['q3.1', '9', '跡取りか', ''],
 ['q3.2', '10', '保護者との続柄', ''],
 ['q4.1', '11', '保護者の職業', ''],
 ['q4.3.1', '12', '家の生活程度', ''],
 ['q4.3.2', '13', '家族数', '99'],
 ['q5', '14', '就職しなかった理由', ''],
 ['q7', '15', '将来の進路', ''],
 ['q8', '16', '進学している学校', ''],
 [''],
 ['変数値', '', ''],
 ['値', '', 'ラベル'],
 ['seibetu', '1', '男子'],
 ['', '2', '女子'],
 ['q2_1', '1', '商'],
 ['', '2', '工'],
 ['', '3', '農'],
 ['', '4', '家'],
 ['', '5', '英'],
 ['', '6', 'その他'],
 ['', '9', '無回答'],
 ['q2_2', '1', '商'],
 ['', '2', '工'],
 ['', '3', '農'],
 ['', '4', '家'],
 ['', '5', '英'],
 ['', '6', 'その他'],
 ['q2_3', '1', '商'],
 ['', '2', '工'],
 ['', '3', '農'],
 ['', '4', '家'],
 ['', '5', '英'],
 ['', '6', 'その他'],
 ['q2_4', '1', '商'],
 ['', '2', '工'],
 ['', '3', '農'],
 ['', '4', '家'],
 ['', '5', '英'],
 ['', '6', 'その他'],
 ['q2_5', '1', '商'],
 ['', '2', '工'],
 ['', '3', '農'],
 ['', '4', '家'],
 ['', '5', '英'],
 ['', '6', 'その他'],
 ['q2_6', '1', '商'],
 ['', '2', '工'],
 ['', '3', '農'],
 ['', '4', '家'],
 ['', '5', '英'],
 ['', '6', 'その他'],
 ['q3.1', '1', '跡取り'],
 ['', '2', '跡取りでない'],
 ['', '9', '無回答'],
 ['q3.2', '1', '長男・長女'],
 ['', '2', '次男・次女'],
 ['', '3', '三男・三女'],
 ['', '4', '四男・四女以上'],
 ['', '5', '弟・妹'],
 ['', '6', 'おい・めい'],
 ['', '7', 'その他'],
 ['', '9', '無回答'],
 ['q4.1', '1', '農業'],
 ['', '2', '林業'],
 ['', '3', '水産業'],
 ['', '4', '独立工業者'],
 ['', '5', '工員'],
 ['', '6', '独立商業者'],
 ['', '7', '商業使用人'],
 ['', '8', '運輸通信従業者'],
 ['', '9', '電気・ガス・水道従業員'],
 ['', '10', '俸給生活者'],
 ['', '11', '単純労務者'],
 ['', '12', '自由業'],
 ['', '13', 'その他'],
 ['', '14', '無職'],
 ['', '15', '不明'],
 ['', '99', '無回答'],
 ['q4.3.1', '1', '上'],
 ['', '2', '中'],
 ['', '3', '下'],
 ['', '9', '無回答'],
 ['q4.3.2', '99', '無回答'],
 ['q5', '1', '家事'],
 ['', '2', '家業'],
 ['', '3', '進学準備'],
 ['', '4', '就職機会なし'],
 ['', '5', '技術習得'],
 ['', '6', '労働能力欠如'],
 ['', '7', '一度就職'],
 ['', '8', 'その他'],
 ['', '9', '無回答'],
 ['q7', '1', '就職'],
 ['', '2', '家業'],
 ['', '3', '進学'],
 ['', '4', '技能習得'],
 ['', '5', 'その他'],
 ['', '6', '家事'],
 ['', '9', '無回答'],
 ['q8', '1', '高等学校'],
 ['', '2', '専門学校'],
 ['', '3', '職業補導所'],
 ['', '4', '授産所'],
 ['', '5', '農業関係'],
 ['']]

In [54]:
def search_keyword(keyword, list_of_lists = list_of_lists_info):
    variables = []
    for item in list_of_lists:
        if len(item) == 4:
            if keyword in item[2]:
                variables.append(item[0])
                
    # Remove empty elements
    variables = [item for item in variables if item]
    return variables

In [55]:
def return_next_var(var, list_of_vars):
    # Use list of variables, taken from var_info, return the next variable
    current_idx = list_of_vars.index(var)
    next_var = list_of_vars[current_idx + 1]
    return next_var

In [56]:
def get_dict(var, 
             list_of_lists = list_of_lists_val,
             list_of_lists_1st_elem = list_of_lists_val_1st_elem, 
             list_of_vars = list_of_vars_val):
    # Return dictionary for var
    
    dict = {}    
    idx = list_of_lists_1st_elem.index(var)    
    
    if var != 'q8':
        # Get the next variable using the list of variables in the values list
        next_var = return_next_var(var, list_of_vars)
    
        # Get the index for the list of lists of values        
        next_idx = list_of_lists_1st_elem.index(next_var)
        sublist = list_of_lists[idx:next_idx]
        
    else:
        sublist = list_of_lists[idx:]
    # Slice the list of lists
        
    for item in sublist:
        new_dict = {item[1]:item[2]}
        dict.update(new_dict)
    return dict

In [57]:
def replace_val(keyword, df = df):
    variables = search_keyword(keyword)
    dictionary = get_dict(variables[0])
    for item in variables:
        df[item] = df[item].astype(str)
        df[item] = df[item].map(dictionary)

In [58]:
def replace_val_vars(var, df = df):
    dictionary = get_dict(var)
    df[var] = df[var].astype(str)
    df[var] = df[var].map(dictionary)

In [86]:
list_vars = list_of_vars_val[2:]

In [61]:
for var in list_vars:
    replace_val_vars(var)

In [62]:
df

,gakkou,seibetu,q2_1,q2_2,q2_3,q2_4,q2_5,q2_6,q3.1,q3.2,q4.1,q4.3.1,q4.3.2,q5,q7,q8
0,101,男子,工,NaN,NaN,NaN,NaN,NaN,跡取り,長男・長女,水産業,中,NaN,家業,家業,NaN
1,101,男子,商,NaN,NaN,NaN,NaN,NaN,跡取り,長男・長女,独立工業者,中,NaN,家業,家業,NaN
2,101,男子,商,NaN,NaN,NaN,NaN,NaN,跡取り,長男・長女,工員,下,NaN,家事,就職,NaN
3,101,男子,工,NaN,NaN,NaN,NaN,NaN,跡取りでない,次男・次女,水産業,中,NaN,家業,就職,NaN
4,101,男子,英,NaN,NaN,NaN,NaN,NaN,跡取り,長男・長女,独立商業者,中,NaN,家業,家業,高等学校
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8050,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,長男・長女,農業,中,NaN,家事,家業,NaN
8051,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,四男・四女以上,農業,中,NaN,技術習得,家事,NaN
8052,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,四男・四女以上,農業,中,NaN,労働能力欠如,就職,NaN
8053,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,四男・四女以上,農業,中,NaN,家業,家業,NaN
8054,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,長男・長女,農業,中,NaN,家事,就職,NaN

In [63]:
# Can be used to replace column names
variables_list = [(item[0], item[2]) for item in list_of_lists_info[3:-1]]

In [64]:
variables_dict = dict(variables_list)

In [73]:
variables_dict

{'seibetu': '性別',
 'q2_1': '選択科目・1',
 'q2_2': '選択科目・2',
 'q2_3': '選択科目・3',
 'q2_4': '選択科目・4',
 'q2_5': '選択科目・5',
 'q2_6': '選択科目・6',
 'q3.1': '跡取りか',
 'q3.2': '保護者との続柄',
 'q4.1': '保護者の職業',
 'q4.3.1': '家の生活程度',
 'q4.3.2': '家族数',
 'q5': '就職しなかった理由',
 'q7': '将来の進路',
 'q8': '進学している学校'}

In [69]:
values = variables_dict.values

In [71]:
import googletrans
from googletrans import Translator
translator = Translator()

In [82]:
dict_eng = {}
for key, values in variables_dict.items():
    dict_eng[key] = translator.translate(values).text.replace(' ', '_')

In [83]:
dict_eng

{'seibetu': 'gender',
 'q2_1': 'Electives_-_1',
 'q2_2': 'Elective_-_2',
 'q2_3': 'Elective_-_3',
 'q2_4': 'Electives_-_4',
 'q2_5': 'Elective,_5',
 'q2_6': 'Electives_-_6',
 'q3.1': 'Or_heir',
 'q3.2': 'Relationship_with_parents',
 'q4.1': 'Guardian_of_the_profession',
 'q4.3.1': 'Life_about_the_house',
 'q4.3.2': 'Number_of_family',
 'q5': 'The_reason_you_did_not_job',
 'q7': 'The_future_of_the_course',
 'q8': 'Go_to_that_school'}

In [84]:
dict_eng['q4.1'] = 'Occupation_of_the_Guardian'

In [85]:
dict_eng['q8'] = 'Attending_school'

In [81]:
dict_eng

{'seibetu': 'gender',
 'q2_1': 'Electives - 1',
 'q2_2': 'Elective - 2',
 'q2_3': 'Elective - 3',
 'q2_4': 'Electives - 4',
 'q2_5': 'Elective, 5',
 'q2_6': 'Electives - 6',
 'q3.1': 'Or heir',
 'q3.2': 'Relationship with parents',
 'q4.1': 'Occupation of the Guardian',
 'q4.3.1': 'Life about the house',
 'q4.3.2': 'Number of family',
 'q5': 'The reason you did not job',
 'q7': 'The future of the course',
 'q8': 'Attending school'}

In [66]:
df.rename(columns = variables_dict, inplace=True)

In [67]:
df

,gakkou,性別,選択科目・1,選択科目・2,選択科目・3,選択科目・4,選択科目・5,選択科目・6,跡取りか,保護者との続柄,保護者の職業,家の生活程度,家族数,就職しなかった理由,将来の進路,進学している学校
0,101,男子,工,NaN,NaN,NaN,NaN,NaN,跡取り,長男・長女,水産業,中,NaN,家業,家業,NaN
1,101,男子,商,NaN,NaN,NaN,NaN,NaN,跡取り,長男・長女,独立工業者,中,NaN,家業,家業,NaN
2,101,男子,商,NaN,NaN,NaN,NaN,NaN,跡取り,長男・長女,工員,下,NaN,家事,就職,NaN
3,101,男子,工,NaN,NaN,NaN,NaN,NaN,跡取りでない,次男・次女,水産業,中,NaN,家業,就職,NaN
4,101,男子,英,NaN,NaN,NaN,NaN,NaN,跡取り,長男・長女,独立商業者,中,NaN,家業,家業,高等学校
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8050,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,長男・長女,農業,中,NaN,家事,家業,NaN
8051,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,四男・四女以上,農業,中,NaN,技術習得,家事,NaN
8052,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,四男・四女以上,農業,中,NaN,労働能力欠如,就職,NaN
8053,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,四男・四女以上,農業,中,NaN,家業,家業,NaN
8054,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,長男・長女,農業,中,NaN,家事,就職,NaN