In [1]:
import googletrans
from googletrans import Translator

In [3]:
translator = Translator()
translated = translator.translate('Hola Mundo')
print(translated)

Translated(src=es, dest=en, text=Hello World, pronunciation=Hello World, extra_data="{'translat...")

In [4]:
translated.text

'Hello World'

In [5]:
translated_ita =translator.translate('Hola Mundo',dest='it')
translated_ita.text

'Ciao mondo'

In [6]:
translated_de = translator.translate('Hola Mundo', dest ='de')
translated_de.text

'Hallo Welt'

In [7]:
print(googletrans.LANGUAGES)

{'af': 'afrikaans', 'sq': 'albanian', 'am': 'amharic', 'ar': 'arabic', 'hy': 'armenian', 'az': 'azerbaijani', 'eu': 'basque', 'be': 'belarusian', 'bn': 'bengali', 'bs': 'bosnian', 'bg': 'bulgarian', 'ca': 'catalan', 'ceb': 'cebuano', 'ny': 'chichewa', 'zh-cn': 'chinese (simplified)', 'zh-tw': 'chinese (traditional)', 'co': 'corsican', 'hr': 'croatian', 'cs': 'czech', 'da': 'danish', 'nl': 'dutch', 'en': 'english', 'eo': 'esperanto', 'et': 'estonian', 'tl': 'filipino', 'fi': 'finnish', 'fr': 'french', 'fy': 'frisian', 'gl': 'galician', 'ka': 'georgian', 'de': 'german', 'el': 'greek', 'gu': 'gujarati', 'ht': 'haitian creole', 'ha': 'hausa', 'haw': 'hawaiian', 'iw': 'hebrew', 'hi': 'hindi', 'hmn': 'hmong', 'hu': 'hungarian', 'is': 'icelandic', 'ig': 'igbo', 'id': 'indonesian', 'ga': 'irish', 'it': 'italian', 'ja': 'japanese', 'jw': 'javanese', 'kn': 'kannada', 'kk': 'kazakh', 'km': 'khmer', 'ko': 'korean', 'ku': 'kurdish (kurmanji)', 'ky': 'kyrgyz', 'lo': 'lao', 'la': 'latin', 'lv': 'latvian', 'lt': 'lithuanian', 'lb': 'luxembourgish', 'mk': 'macedonian', 'mg': 'malagasy', 'ms': 'malay', 'ml': 'malayalam', 'mt': 'maltese', 'mi': 'maori', 'mr': 'marathi', 'mn': 'mongolian', 'my': 'myanmar (burmese)', 'ne': 'nepali', 'no': 'norwegian', 'ps': 'pashto', 'fa': 'persian', 'pl': 'polish', 'pt': 'portuguese', 'pa': 'punjabi', 'ro': 'romanian', 'ru': 'russian', 'sm': 'samoan', 'gd': 'scots gaelic', 'sr': 'serbian', 'st': 'sesotho', 'sn': 'shona', 'sd': 'sindhi', 'si': 'sinhala', 'sk': 'slovak', 'sl': 'slovenian', 'so': 'somali', 'es': 'spanish', 'su': 'sundanese', 'sw': 'swahili', 'sv': 'swedish', 'tg': 'tajik', 'ta': 'tamil', 'te': 'telugu', 'th': 'thai', 'tr': 'turkish', 'uk': 'ukrainian', 'ur': 'urdu', 'uz': 'uzbek', 'vi': 'vietnamese', 'cy': 'welsh', 'xh': 'xhosa', 'yi': 'yiddish', 'yo': 'yoruba', 'zu': 'zulu', 'fil': 'Filipino', 'he': 'Hebrew'}

In [8]:
translated_ja = translator.translate('Hola Mundo', dest = 'ja')

In [9]:
translated_ja.text

'こんにちは世界'

In [10]:
translated.text

'Hello World'

In [11]:
translated.src

'es'

In [12]:
translated.dest

'en'

In [13]:
import pandas as pd

In [14]:
df_es = pd.read_csv('CEspanol_2019_ene_septiembre.csv',sep = ';', encoding = 'latin-1')
df_es.head()

,Año,Mes,Nivel,Sexo,Edad,Situación administrativa,Nacionalidad-País,Area Geográfica,Categoría profesional,Nivel de estudios,Oficina
0,2019,Enero,A2,Mujer,31 a 50 años,ART,Nigeria,África Subsahariana,Desempleado con prestación,Secundaria,Oficina Norte
1,2019,Enero,A2,Mujer,18 a 30 años,ART,Filipinas,Asia,Desempleado sin prestación,Universitario,Oficina Norte
2,2019,Enero,A2,Mujer,31 a 50 años,ART,Filipinas,Asia,Empleado,Secundaria,Oficina Norte
3,2019,Enero,A2,Mujer,31 a 50 años,Irregular,Marruecos,Magreb,Empleado,Secundaria,Oficina Norte
4,2019,Enero,A2,Mujer,31 a 50 años,Irregular,Marruecos,Magreb,Desempleado sin prestación,Bachillerato,Oficina Norte

In [15]:
df_en = df_es.copy()
df_en.rename(columns = lambda x: translator.translate(x).text, inplace=True)

In [16]:
df_en.columns

Index(['Year', 'My', 'level', 'Sex', 'Age', 'administrative status',
       'Nationality country', 'Geographical area', 'Professional category',
       'Level studies', 'Office'],
      dtype='object')

In [27]:
df_en.columns

Index(['Year', 'My', 'level', 'Sex', 'Age', 'administrative status',
       'Nationality country', 'Geographical area', 'Professional category',
       'Level studies', 'Office'],
      dtype='object')

In [33]:
df_en.columns[1:]

Index(['My', 'level', 'Sex', 'Age', 'administrative status',
       'Nationality country', 'Geographical area', 'Professional category',
       'Level studies', 'Office'],
      dtype='object')

In [37]:
translations = {}
for column in df_en.columns[1:]:
    unique_elements = df_en[column].unique()
    for element in unique_elements:
        try:
            translations[element] = translator.translate(element).text
        except:
            pass

In [38]:
translations

{'Enero': 'January',
 'Febrero': 'February',
 'Marzo': 'March',
 'Abril': 'April',
 'Mayo': 'Mayo',
 'Junio': 'June',
 'Julio': 'July',
 'Agosto': 'August',
 'Septiembre': 'September',
 'A2': 'Aa',
 'A1': 'A1',
 'A2 DELE': 'A2 PARTS',
 'B1 conversación': 'B1 conversation',
 'B1': 'B1',
 'Alfabetización': 'literacy',
 'Lectoescritura': 'literacy',
 'B2': 'B2',
 'Alfabetización y Lectoescritura': 'Literacy and Literacy',
 'Mujer': 'Woman',
 'Hombre': 'Man',
 'mujer': 'woman',
 'hombre': 'man',
 '31 a 50 años': '31 to 50 years',
 '18 a 30 años': '18 to 30 years',
 '51 a 65 años': '51 to 65 years',
 '4 a 17 años': '4 to 17 years',
 '65': '65',
 'ART': 'ART',
 'Irregular': 'Irregular',
 'Comunitario': 'Community',
 'A R ': 'A R',
 'Familiar Comunitario': 'family Community',
 'Otros': 'Others',
 'Estudiante': 'student',
 'Asilo / Refugio': 'Asylum / Shelter',
 'Familiar comunitario': 'family Community',
 'comunitario': 'Community',
 'Turista': 'Tourist',
 'Nigeria': 'Nigeria',
 'Filipinas': 'Philippines',
 'Marruecos': 'Morocco',
 'India': 'India',
 'Estados Unidos de América': 'United States of America',
 'Sri Lanka': 'Sri Lanka',
 'China': 'China',
 'Ucrania': 'Ukraine',
 'Irán': 'Iran',
 'República Árabe Siria': 'Syrian Arab Republic',
 'Argelia': 'Algeria',
 'Gabón': 'Gabon',
 'Etiopía': 'Ethiopia',
 'Bangladesh': 'Bangladesh',
 'Brasil': 'Brazil',
 'Guinea': 'Guinea',
 'Libia': 'Libya',
 'Yemen': 'Yemen',
 'Senegal': 'Senegal',
 'Cabo Verde': 'Cape Verde',
 'Ghana': 'Ghana',
 'irán': 'Iran',
 'Sahara': 'Sahara',
 'Mongolia': 'Mongolia',
 'Rusia': 'Russia',
 'Azerbaiyán': 'Azerbaijan',
 'Irlanda': 'Ireland',
 'Rumania': 'Romania',
 'República de Moldova': 'Republic of Moldova',
 'Costa de Marfil': 'Ivory Coast',
 'Malí': 'Mali',
 'República Checa': 'Czech Republic',
 'Burkina Faso': 'Burkina Faso',
 'Bulgaria': 'Bulgaria',
 'Uzbekistán': 'Uzbekistan',
 'Suecia': 'Sweden',
 'Armenia': 'Armenia',
 'Haití': 'Haiti',
 'Belarús': 'Belarus',
 'Portugal': 'Portugal',
 'Camerún': 'Cameroon',
 'Italia': 'Italy',
 'Dinamarca': 'Denmark',
 'Turquía': 'Turkey',
 'Trinidad y Tabago': 'Trinidad and Tobago',
 'Camboya': 'Cambodia',
 'Croacia': 'Croatia',
 'Francia': 'France',
 'Niger': 'Niger',
 'Túnez': 'Tunisia',
 'Palestina': 'Palestine',
 'Georgia': 'Georgia',
 'República Democrática del Congo': 'Democratic Republic of Congo',
 'Pakistán': 'Pakistan',
 'Taiwán': 'Taiwan',
 'Egipto': 'Egypt',
 'República Federal Democrática de Nepal': 'Federal Democratic Republic of Nepal',
 'Viet Nam': 'Vietnam',
 'Indonesia': 'Indonesia',
 'Kazajstán': 'Kazakhstan',
 'Kenya': 'Kenya',
 'Iraq': 'Iraq',
 'Polonia': 'Poland',
 'Liberia': 'Liberia',
 'República Dominicana': 'Dominican Republic',
 'Bélgica': 'Belgium',
 'República de Corea': 'Republic of Korea',
 'Sudán': 'Sudan',
 'Congo': 'Congo',
 'Serbia': 'Serbia',
 'Mauritania': 'Mauritania',
 'Hungría': 'Hungary',
 'Malawi': 'Malawi',
 'Guinea Bissau': 'Guinea Bissau',
 'Jordania': 'Jordan',
 'Eritrea': 'Eritrea',
 'Alemania': 'Germany',
 'Chad': 'Chad',
 'Ecuador': 'Ecuador',
 'El Salvador': 'The Savior',
 'Benin': 'Benin',
 'Gambia': 'Gambia',
 'Togo': 'Togo',
 'España': 'Spain',
 'Japón': 'Japan',
 'Somalia': 'Somalia',
 'África Subsahariana': 'Sub-Saharan Africa',
 'Asia': 'Asia',
 'Magreb': 'Magreb',
 'Norte América': 'North America',
 'Europa Extracomunitaria': 'Europe outside the EU',
 'asia': 'asia',
 'América Latina': 'Latin America',
 'Unión Europea': 'European Union',
 'África subsahariana': 'Sub-Saharan Africa',
 'Europa extracomunitaria': 'Europe outside the EU',
 'Desempleado con prestación': 'Unemployed with benefit',
 'Desempleado sin prestación': 'Unemployed without benefits',
 'Empleado': 'Employee',
 'estudiante': 'student',
 'desempleado con prestación': 'unemployed with benefit',
 'Secundaria': 'High school',
 'Universitario': 'academic',
 'Bachillerato': 'baccalaureate',
 'Primaria': 'Primary',
 'Sin estudios': 'uneducated',
 'F.P': 'F.P',
 'No consta': 'Not included or provided',
 'sin estudios': 'uneducated',
 'secundaria': 'high school',
 'Oficina Norte': 'North office',
 'Oficina Sur': 'South office'}

In [39]:
df_en.replace(translations, inplace= True)

In [40]:
df_en.head()

,Year,My,level,Sex,Age,administrative status,Nationality country,Geographical area,Professional category,Level studies,Office
0,2019,January,Aa,Woman,31 to 50 years,ART,Nigeria,Sub-Saharan Africa,Unemployed with benefit,High school,North office
1,2019,January,Aa,Woman,18 to 30 years,ART,Philippines,Asia,Unemployed without benefits,academic,North office
2,2019,January,Aa,Woman,31 to 50 years,ART,Philippines,Asia,Employee,High school,North office
3,2019,January,Aa,Woman,31 to 50 years,Irregular,Morocco,Magreb,Employee,High school,North office
4,2019,January,Aa,Woman,31 to 50 years,Irregular,Morocco,Magreb,Unemployed without benefits,baccalaureate,North office