In [1]:
import pandas as pd
import os

directory = '../../Data/School/0001'
file_name_label = '0001_tei label.txt'

file_label = os.path.join(directory, file_name_label)

In [2]:
file_name_data = '0001_tei.dat'

file_data = os.path.join(directory, file_name_data)
df = pd.read_csv(file_data, sep = '\t', error_bad_lines = False)

In [3]:
df

       gakkou  seibetu  q1.1  q1.2  q2  q4 q6  q7
0         101        1     9     1  10   1      2
1         101        1     9     1  10   1      1
2         101        1     9     4   4   2  1   2
3         101        1     9     1   5   1  1   2
4         101        1     9     2  14   1      1
...       ...      ...   ...   ...  ..  .. ..  ..
16559    1312        2     9     2   1   1      2
16560    1312        2     9     3   1   1  1   2
16561    1312        2     9     4   1   1      1
16562    1312        2     9     4   1   1  1   2
16563    1312        2     9     1   5   1      2

[16564 rows x 8 columns]

In [4]:
with open(file_label, 'r') as f:
    x = f.read().splitlines()

In [5]:
def get_list_of_lists(x):
    # Return each row as a list
    list_of_lists = []
    for line in x:
        list_of_lists.append(line.split('\t'))
    return list_of_lists

In [6]:
list_of_lists = get_list_of_lists(x)

In [7]:
def search_index(keyword, list_of_lists = list_of_lists):
    # Check if the keyword is in the list
    idx_list = []
    for idx, item in enumerate(list_of_lists):
        if keyword in item[0]:
            idx_list.append(idx)
    return idx_list

In [8]:
# Split list_of_lists to variable info list and varuable value list

In [9]:
hensu_joho_idx = search_index('変数情報')[0] # id of 変数情報

In [10]:
hensu_chi_idx = search_index('変数値')[0] # id of 変数値

In [11]:
# split the list of lists
list_of_lists_info = list_of_lists[hensu_joho_idx:hensu_chi_idx] # Contains value informaiotn
list_of_lists_val = list_of_lists[hensu_chi_idx:-1] # Contains value variables

In [12]:
list_of_lists_val_1st_elem = [item[0] for item in list_of_lists_val] # First elements in val list

In [13]:
list_of_vars_info = [item[0] for item in list_of_lists_info] # list of variables in the info list

In [14]:
list_of_vars_val  = [s for s in list_of_lists_val_1st_elem if s] # list of variables in the values list

In [15]:
def search_keyword(keyword, list_of_lists = list_of_lists_info):
    variables = []
    for item in list_of_lists:
        if len(item) == 3:
            if keyword in item[2]:
                variables.append(item[0])
                
    # Remove empty elements
    variables = [item for item in variables if item]
    return variables

In [16]:
def return_next_var(var, list_of_vars):
    # Use list of variables, taken from var_info, return the next variable
    current_idx = list_of_vars.index(var)
    next_var = list_of_vars[current_idx + 1]
    return next_var

In [17]:
def get_dict(var, 
             list_of_lists = list_of_lists_val,
             list_of_lists_1st_elem = list_of_lists_val_1st_elem, 
             list_of_vars = list_of_vars_val):
    # Return dictionary for var
    
    dict = {}    
    idx = list_of_lists_1st_elem.index(var)    
    
    if var != 'q7':
        # Get the next variable using the list of variables in the values list
        next_var = return_next_var(var, list_of_vars)
    
        # Get the index for the list of lists of values        
        next_idx = list_of_lists_1st_elem.index(next_var)
        sublist = list_of_lists[idx:next_idx]
        
    else:
        sublist = list_of_lists[idx:]
    # Slice the list of lists
        
    for item in sublist:
        new_dict = {item[1]:item[2]}
        dict.update(new_dict)
    return dict

In [18]:
def replace_val(keyword, df = df):
    variables = search_keyword(keyword)
    dictionary = get_dict(variables[0])
    for item in variables:
        df[item] = df[item].astype(str)
        df[item] = df[item].map(dictionary)

In [19]:
get_dict('seibetu')

{'1': '男子', '2': '女子', '9': '無回答'}

In [20]:
list_of_lists

[['\ufeff'],
 [''],
 ['変数情報', '', ''],
 ['変数', '位置', 'ラベル'],
 ['gakkou', '1', '<なし>'],
 ['seibetu', '2', '性別'],
 ['q1.1', '3', '跡取りか'],
 ['q1.2', '4', '保護者との続柄'],
 ['q2', '5', '保護者の職業'],
 ['q4', '6', '学業成績'],
 ['q6', '7', '学科'],
 ['q7', '8', '将来の希望'],
 [''],
 ['変数値', '', ''],
 ['値', '', 'ラベル'],
 ['seibetu', '1', '男子'],
 ['', '2', '女子'],
 ['', '9', '無回答'],
 ['q1.1', '1', '跡取り'],
 ['', '2', '跡取りでない'],
 ['', '9', '無回答'],
 ['q1.2', '1', '長男・長女'],
 ['', '2', '次男・次女'],
 ['', '3', '三男・三女'],
 ['', '4', '四男・四女以上'],
 ['', '5', '弟・妹'],
 ['', '6', 'おい・めい'],
 ['', '7', 'その他'],
 ['', '9', '無回答'],
 ['q2', '1', '農業'],
 ['', '2', '林業'],
 ['', '3', '水産業'],
 ['', '4', '独立工業者'],
 ['', '5', '工員'],
 ['', '6', '独立商業者'],
 ['', '7', '商業使用人'],
 ['', '8', '運輸通信従業者'],
 ['', '9', '電気・ガス・水道従業員'],
 ['', '10', '俸給生活者'],
 ['', '11', '単純労務者'],
 ['', '12', '自由業'],
 ['', '13', 'その他'],
 ['', '14', '無職'],
 ['', '15', '不明'],
 ['', '99', '無回答'],
 ['q4', '1', '上'],
 ['', '2', '中'],
 ['', '3', '下'],
 ['', '9', '無回答'],
 ['q6', '1', '職業科'],
 ['q7', '1', '進学'],
 ['', '2', '就職'],
 ['', '3', '家業'],
 ['', '4', '家事'],
 ['', '5', 'その他各種学校'],
 ['', '9', '無回答'],
 ['']]

In [21]:
search_keyword('性別')

['seibetu']

In [22]:
list_of_keywords = ['性別',
                    '跡取りか',
                    '保護者との続柄',
                    '保護者の職業',
                    '学業成績',
                    '学科',
                    '将来の希望',
                   ]

In [23]:
for keyword in list_of_keywords:
    print(search_keyword(keyword))

['seibetu']
['q1.1']
['q1.2']
['q2']
['q4']
['q6']
['q7']

In [24]:
for keywords in list_of_keywords:
    replace_val(keywords)

In [26]:
df

       gakkou seibetu q1.1     q1.2     q2 q4   q6  q7
0         101      男子  無回答    長男・長女  俸給生活者  上  NaN  就職
1         101      男子  無回答    長男・長女  俸給生活者  上  NaN  進学
2         101      男子  無回答  四男・四女以上  独立工業者  中  職業科  就職
3         101      男子  無回答    長男・長女     工員  上  職業科  就職
4         101      男子  無回答    次男・次女     無職  上  NaN  進学
...       ...     ...  ...      ...    ... ..  ...  ..
16559    1312      女子  無回答    次男・次女     農業  上  NaN  就職
16560    1312      女子  無回答    三男・三女     農業  上  職業科  就職
16561    1312      女子  無回答  四男・四女以上     農業  上  NaN  進学
16562    1312      女子  無回答  四男・四女以上     農業  上  職業科  就職
16563    1312      女子  無回答    長男・長女     工員  上  NaN  就職

[16564 rows x 8 columns]