In [1]:
import pandas as pd
import os

directory = '../../Data/CareerHistory/0133'
name = '0133_ver2.dat'

file = os.path.join(directory, name)
df = pd.read_csv(file, sep = '\t', error_bad_lines = False)

In [2]:
year = 1981

In [3]:
shorthand = {'pref':'prefecture',
             'compul':'compulsory',
             'educ':'education',
             'sib':'siblings',
             'ind':'industry',
             'num':'number',
             'curr':'current',
             'emp':'employment',
             'pos':'position',
             'ctype':'city type',
             'maj':'major',
             'min':'minor',
             'fsize':'firm size measured by employment',
             'chnl':'employment channel',
             'trans':'transfer' ,
             'chng':'change',
             'rsn':'reason',
             'sage':'start age',
             'eage':'end age',
             'inst':'institute',
             'sts':'special training school, sensyu or kakushu gakkou ',
             'man':'manufacturing',
             'ag':'agricultural',
             'med':'medical',
             'hlth':'health',
             'educ':'education',
             'com':'commerce',
             'he':'household economy',
             'educ_bkg':'educational background',
             'hs':'high school',
             'clg':'college',
             'crs':'course',
             'est':'established by',
             'marr':'marriage',
             'cld':'child',
            }

In [4]:
rename_col = {'sampleno':'id',
              'kyojuuchi':'liv_curr_pref',
              'q1':'age',
              'q2':'moved',
              'q3':'compul_educ_pref',
              'q3_toshiruikei':'compul_educ_ctype',
              'q4_1':'num_sib',
              'q4_2':'birth_order',
              'q5_1':'num_sib_male',
              'q5_2':'birth_order_male',
              'q6d':'tot_num_trans_btw_firms',
              'q17_1':'inst_1',
              'q17_2':'inst_2',
              'q17_3':'inst_3',
              'q18':'sts',
              'q18sq1_1':'sts_man',
              'q18sq1_2':'sts_ag',
              'q18sq1_3':'sts_med',
              'q18sq1_4':'sts_hlth',
              'q18sq1_5':'sts_educ',
              'q18sq1_6':'sts_com',
              'q18sq1_7':'sts_he',
              'q29':'marr',
              'q29_1':'marr_age',
              'q29_2':'1st_cld_born_age',
              'q30':'wife',
              'q30_1_1':'wife_job_emp_pos',
              'q30_1_3':'wife_job_ind',
              'q30_1_4_dai':'wife_job_ind_maj',
              'q30_1_4_shou':'wife_job_ind_min',
              'q30_1_5':'wife_job_pos',
              'q30_1_6':'wife_job_f_size',
              'q31':'wife_final_educ',
              'q32':'income_hh',
              'q33':'income_ind'
            }

In [5]:
def dict_update_educ(x, y, dict_original):
    # Automate renaming for q26 and q28
    
    dict_new = {
        x + '_1': y + '_bkg',
        x + '_1sq1': y + '_hs_maj',
        x + '_1sq2': y + '_clg_maj',
        x + '_2': y + '_pref',
        x + '_3': y + '_est',
        x + '_4': y + '_course',
        x + '_5': y + '_grad',
        x + '_6_1': y + '_sage',
        x + '_6_2': y + '_eage',
        }
    dict_original.update(dict_new)
    
    return dict_original

In [8]:
def dict_update_trans(x, y, dict_original):
    # Automate renaming for q16
    
    dict_new = {
        x + '_kigyou': y + '_job_emp_pos',
        x + '_jigyousho': y + '_job_pref',
        x + '_1': y + '_job_emp_pos',
        x + '_3': y + '_job_pref',
        x + '_3_toshiruikei': y + '_job_ctype',
        x + '_4': y + '_job_ind',
        x + '_5_dai': y + '_job_ind_maj',
        x + '_5_shou': y + '_job_ind_min',
        x + '_6': y + '_job_pos',
        x + '_7': y + '_job_fsize',
        x + '_8': y + '_job_chnl',
        x + '_9_1': y + '_job_sage',
        x + '_9_2': y + '_job_eage',
        x + '_10' : y + '_job_chng_rsn'
        }
    dict_original.update(dict_new)
    
    return dict_original

In [7]:
def dict_update_jobs(x, y, dict_original):
    # Automate renaming for q6
    
    dict_new = {
        x + '_1': y + '_job_emp_pos',
        x + '_3': y + '_job_pref',
        x + '_3_toshiruikei': y + '_job_ctype',
        x + '_4': y + '_job_ind',
        x + '_5_dai': y + '_job_ind_maj',
        x + '_5_shou': y + '_job_ind_min',
        x + '_6': y + '_job_pos',
        x + '_7': y + '_job_fsize',
        x + 'a': y + '_job_chnl',
        x + 'b': y + '_job_sage',
        x + 'c': y + '_job_curr_age'
        }
    dict_original.update(dict_new)
    
    return dict_original

In [6]:
list_educ = [('q26','init_job_educ'),
             ('q28', 'final_educ')]

In [20]:
for item in list_educ:
    dict_update_educ(item[0],item[1],rename_col)

In [9]:
list_jobs = [('q6','curr')]

In [10]:
for item in list_jobs:
    dict_update_jobs(item[0],item[1],rename_col)

In [11]:
list_trans = [('q15', 'init'),
              ('q16_1', '1st'),
              ('q16_2', '2nd'),
              ('q16_3', '3rd'),
              ('q16_4', '4th'),
              ('q16_5', '5th'),
              ('q16_6', '6th'),
              ('q16_7', '7th'),
              ('q16_8', '8th'),
              ('q16_9', '9th'),
              ('q16_10', '10th'),
              ('q16_11', '11th'),
              ('q16_12', '12th'),
              ('q16_13', '13th'),
              ('q16_14', '14th'),
              ('q16_15', '15th'),
              ('q16_16', '16th'),
              ('q16_17', '17th')
             ]

In [12]:
for item in list_trans:
    dict_update_trans(item[0], item[1], rename_col)

In [13]:
rename_col

{'sampleno': 'id',
 'kyojuuchi': 'liv_curr_pref',
 'q1': 'age',
 'q2': 'moved',
 'q3': 'compul_educ_pref',
 'q3_toshiruikei': 'compul_educ_ctype',
 'q4_1': 'num_sib',
 'q4_2': 'birth_order',
 'q5_1': 'num_sib_male',
 'q5_2': 'birth_order_male',
 'q6d': 'tot_num_trans_btw_firms',
 'q17_1': 'inst_1',
 'q17_2': 'inst_2',
 'q17_3': 'inst_3',
 'q18': 'sts',
 'q18sq1_1': 'sts_man',
 'q18sq1_2': 'sts_ag',
 'q18sq1_3': 'sts_med',
 'q18sq1_4': 'sts_hlth',
 'q18sq1_5': 'sts_educ',
 'q18sq1_6': 'sts_com',
 'q18sq1_7': 'sts_he',
 'q29': 'marr',
 'q29_1': 'marr_age',
 'q29_2': '1st_cld_born_age',
 'q30': 'wife',
 'q30_1_1': 'wife_job_emp_pos',
 'q30_1_3': 'wife_job_ind',
 'q30_1_4_dai': 'wife_job_ind_maj',
 'q30_1_4_shou': 'wife_job_ind_min',
 'q30_1_5': 'wife_job_pos',
 'q30_1_6': 'wife_job_f_size',
 'q31': 'wife_final_educ',
 'q32': 'income_hh',
 'q33': 'income_ind',
 'q6_1': 'curr_job_emp_pos',
 'q6_3': 'curr_job_pref',
 'q6_3_toshiruikei': 'curr_job_ctype',
 'q6_4': 'curr_job_ind',
 'q6_5_dai': 'curr_job_ind_maj',
 'q6_5_shou': 'curr_job_ind_min',
 'q6_6': 'curr_job_pos',
 'q6_7': 'curr_job_fsize',
 'q6a': 'curr_job_chnl',
 'q6b': 'curr_job_sage',
 'q6c': 'curr_job_curr_age',
 'q15_kigyou': 'init_job_emp_pos',
 'q15_jigyousho': 'init_job_pref',
 'q15_1': 'init_job_emp_pos',
 'q15_3': 'init_job_pref',
 'q15_3_toshiruikei': 'init_job_ctype',
 'q15_4': 'init_job_ind',
 'q15_5_dai': 'init_job_ind_maj',
 'q15_5_shou': 'init_job_ind_min',
 'q15_6': 'init_job_pos',
 'q15_7': 'init_job_fsize',
 'q15_8': 'init_job_chnl',
 'q15_9_1': 'init_job_sage',
 'q15_9_2': 'init_job_eage',
 'q15_10': 'init_job_chng_rsn',
 'q16_1_kigyou': '1st_job_emp_pos',
 'q16_1_jigyousho': '1st_job_pref',
 'q16_1_1': '1st_job_emp_pos',
 'q16_1_3': '1st_job_pref',
 'q16_1_3_toshiruikei': '1st_job_ctype',
 'q16_1_4': '1st_job_ind',
 'q16_1_5_dai': '1st_job_ind_maj',
 'q16_1_5_shou': '1st_job_ind_min',
 'q16_1_6': '1st_job_pos',
 'q16_1_7': '1st_job_fsize',
 'q16_1_8': '1st_job_chnl',
 'q16_1_9_1': '1st_job_sage',
 'q16_1_9_2': '1st_job_eage',
 'q16_1_10': '1st_job_chng_rsn',
 'q16_2_kigyou': '2nd_job_emp_pos',
 'q16_2_jigyousho': '2nd_job_pref',
 'q16_2_1': '2nd_job_emp_pos',
 'q16_2_3': '2nd_job_pref',
 'q16_2_3_toshiruikei': '2nd_job_ctype',
 'q16_2_4': '2nd_job_ind',
 'q16_2_5_dai': '2nd_job_ind_maj',
 'q16_2_5_shou': '2nd_job_ind_min',
 'q16_2_6': '2nd_job_pos',
 'q16_2_7': '2nd_job_fsize',
 'q16_2_8': '2nd_job_chnl',
 'q16_2_9_1': '2nd_job_sage',
 'q16_2_9_2': '2nd_job_eage',
 'q16_2_10': '2nd_job_chng_rsn',
 'q16_3_kigyou': '3rd_job_emp_pos',
 'q16_3_jigyousho': '3rd_job_pref',
 'q16_3_1': '3rd_job_emp_pos',
 'q16_3_3': '3rd_job_pref',
 'q16_3_3_toshiruikei': '3rd_job_ctype',
 'q16_3_4': '3rd_job_ind',
 'q16_3_5_dai': '3rd_job_ind_maj',
 'q16_3_5_shou': '3rd_job_ind_min',
 'q16_3_6': '3rd_job_pos',
 'q16_3_7': '3rd_job_fsize',
 'q16_3_8': '3rd_job_chnl',
 'q16_3_9_1': '3rd_job_sage',
 'q16_3_9_2': '3rd_job_eage',
 'q16_3_10': '3rd_job_chng_rsn',
 'q16_4_kigyou': '4th_job_emp_pos',
 'q16_4_jigyousho': '4th_job_pref',
 'q16_4_1': '4th_job_emp_pos',
 'q16_4_3': '4th_job_pref',
 'q16_4_3_toshiruikei': '4th_job_ctype',
 'q16_4_4': '4th_job_ind',
 'q16_4_5_dai': '4th_job_ind_maj',
 'q16_4_5_shou': '4th_job_ind_min',
 'q16_4_6': '4th_job_pos',
 'q16_4_7': '4th_job_fsize',
 'q16_4_8': '4th_job_chnl',
 'q16_4_9_1': '4th_job_sage',
 'q16_4_9_2': '4th_job_eage',
 'q16_4_10': '4th_job_chng_rsn',
 'q16_5_kigyou': '5th_job_emp_pos',
 'q16_5_jigyousho': '5th_job_pref',
 'q16_5_1': '5th_job_emp_pos',
 'q16_5_3': '5th_job_pref',
 'q16_5_3_toshiruikei': '5th_job_ctype',
 'q16_5_4': '5th_job_ind',
 'q16_5_5_dai': '5th_job_ind_maj',
 'q16_5_5_shou': '5th_job_ind_min',
 'q16_5_6': '5th_job_pos',
 'q16_5_7': '5th_job_fsize',
 'q16_5_8': '5th_job_chnl',
 'q16_5_9_1': '5th_job_sage',
 'q16_5_9_2': '5th_job_eage',
 'q16_5_10': '5th_job_chng_rsn',
 'q16_6_kigyou': '6th_job_emp_pos',
 'q16_6_jigyousho': '6th_job_pref',
 'q16_6_1': '6th_job_emp_pos',
 'q16_6_3': '6th_job_pref',
 'q16_6_3_toshiruikei': '6th_job_ctype',
 'q16_6_4': '6th_job_ind',
 'q16_6_5_dai': '6th_job_ind_maj',
 'q16_6_5_shou': '6th_job_ind_min',
 'q16_6_6': '6th_job_pos',
 'q16_6_7': '6th_job_fsize',
 'q16_6_8': '6th_job_chnl',
 'q16_6_9_1': '6th_job_sage',
 'q16_6_9_2': '6th_job_eage',
 'q16_6_10': '6th_job_chng_rsn',
 'q16_7_kigyou': '7th_job_emp_pos',
 'q16_7_jigyousho': '7th_job_pref',
 'q16_7_1': '7th_job_emp_pos',
 'q16_7_3': '7th_job_pref',
 'q16_7_3_toshiruikei': '7th_job_ctype',
 'q16_7_4': '7th_job_ind',
 'q16_7_5_dai': '7th_job_ind_maj',
 'q16_7_5_shou': '7th_job_ind_min',
 'q16_7_6': '7th_job_pos',
 'q16_7_7': '7th_job_fsize',
 'q16_7_8': '7th_job_chnl',
 'q16_7_9_1': '7th_job_sage',
 'q16_7_9_2': '7th_job_eage',
 'q16_7_10': '7th_job_chng_rsn',
 'q16_8_kigyou': '8th_job_emp_pos',
 'q16_8_jigyousho': '8th_job_pref',
 'q16_8_1': '8th_job_emp_pos',
 'q16_8_3': '8th_job_pref',
 'q16_8_3_toshiruikei': '8th_job_ctype',
 'q16_8_4': '8th_job_ind',
 'q16_8_5_dai': '8th_job_ind_maj',
 'q16_8_5_shou': '8th_job_ind_min',
 'q16_8_6': '8th_job_pos',
 'q16_8_7': '8th_job_fsize',
 'q16_8_8': '8th_job_chnl',
 'q16_8_9_1': '8th_job_sage',
 'q16_8_9_2': '8th_job_eage',
 'q16_8_10': '8th_job_chng_rsn',
 'q16_9_kigyou': '9th_job_emp_pos',
 'q16_9_jigyousho': '9th_job_pref',
 'q16_9_1': '9th_job_emp_pos',
 'q16_9_3': '9th_job_pref',
 'q16_9_3_toshiruikei': '9th_job_ctype',
 'q16_9_4': '9th_job_ind',
 'q16_9_5_dai': '9th_job_ind_maj',
 'q16_9_5_shou': '9th_job_ind_min',
 'q16_9_6': '9th_job_pos',
 'q16_9_7': '9th_job_fsize',
 'q16_9_8': '9th_job_chnl',
 'q16_9_9_1': '9th_job_sage',
 'q16_9_9_2': '9th_job_eage',
 'q16_9_10': '9th_job_chng_rsn',
 'q16_10_kigyou': '10th_job_emp_pos',
 'q16_10_jigyousho': '10th_job_pref',
 'q16_10_1': '10th_job_emp_pos',
 'q16_10_3': '10th_job_pref',
 'q16_10_3_toshiruikei': '10th_job_ctype',
 'q16_10_4': '10th_job_ind',
 'q16_10_5_dai': '10th_job_ind_maj',
 'q16_10_5_shou': '10th_job_ind_min',
 'q16_10_6': '10th_job_pos',
 'q16_10_7': '10th_job_fsize',
 'q16_10_8': '10th_job_chnl',
 'q16_10_9_1': '10th_job_sage',
 'q16_10_9_2': '10th_job_eage',
 'q16_10_10': '10th_job_chng_rsn',
 'q16_11_kigyou': '11th_job_emp_pos',
 'q16_11_jigyousho': '11th_job_pref',
 'q16_11_1': '11th_job_emp_pos',
 'q16_11_3': '11th_job_pref',
 'q16_11_3_toshiruikei': '11th_job_ctype',
 'q16_11_4': '11th_job_ind',
 'q16_11_5_dai': '11th_job_ind_maj',
 'q16_11_5_shou': '11th_job_ind_min',
 'q16_11_6': '11th_job_pos',
 'q16_11_7': '11th_job_fsize',
 'q16_11_8': '11th_job_chnl',
 'q16_11_9_1': '11th_job_sage',
 'q16_11_9_2': '11th_job_eage',
 'q16_11_10': '11th_job_chng_rsn',
 'q16_12_kigyou': '12th_job_emp_pos',
 'q16_12_jigyousho': '12th_job_pref',
 'q16_12_1': '12th_job_emp_pos',
 'q16_12_3': '12th_job_pref',
 'q16_12_3_toshiruikei': '12th_job_ctype',
 'q16_12_4': '12th_job_ind',
 'q16_12_5_dai': '12th_job_ind_maj',
 'q16_12_5_shou': '12th_job_ind_min',
 'q16_12_6': '12th_job_pos',
 'q16_12_7': '12th_job_fsize',
 'q16_12_8': '12th_job_chnl',
 'q16_12_9_1': '12th_job_sage',
 'q16_12_9_2': '12th_job_eage',
 'q16_12_10': '12th_job_chng_rsn',
 'q16_13_kigyou': '13th_job_emp_pos',
 'q16_13_jigyousho': '13th_job_pref',
 'q16_13_1': '13th_job_emp_pos',
 'q16_13_3': '13th_job_pref',
 'q16_13_3_toshiruikei': '13th_job_ctype',
 'q16_13_4': '13th_job_ind',
 'q16_13_5_dai': '13th_job_ind_maj',
 'q16_13_5_shou': '13th_job_ind_min',
 'q16_13_6': '13th_job_pos',
 'q16_13_7': '13th_job_fsize',
 'q16_13_8': '13th_job_chnl',
 'q16_13_9_1': '13th_job_sage',
 'q16_13_9_2': '13th_job_eage',
 'q16_13_10': '13th_job_chng_rsn',
 'q16_14_kigyou': '14th_job_emp_pos',
 'q16_14_jigyousho': '14th_job_pref',
 'q16_14_1': '14th_job_emp_pos',
 'q16_14_3': '14th_job_pref',
 'q16_14_3_toshiruikei': '14th_job_ctype',
 'q16_14_4': '14th_job_ind',
 'q16_14_5_dai': '14th_job_ind_maj',
 'q16_14_5_shou': '14th_job_ind_min',
 'q16_14_6': '14th_job_pos',
 'q16_14_7': '14th_job_fsize',
 'q16_14_8': '14th_job_chnl',
 'q16_14_9_1': '14th_job_sage',
 'q16_14_9_2': '14th_job_eage',
 'q16_14_10': '14th_job_chng_rsn',
 'q16_15_kigyou': '15th_job_emp_pos',
 'q16_15_jigyousho': '15th_job_pref',
 'q16_15_1': '15th_job_emp_pos',
 'q16_15_3': '15th_job_pref',
 'q16_15_3_toshiruikei': '15th_job_ctype',
 'q16_15_4': '15th_job_ind',
 'q16_15_5_dai': '15th_job_ind_maj',
 'q16_15_5_shou': '15th_job_ind_min',
 'q16_15_6': '15th_job_pos',
 'q16_15_7': '15th_job_fsize',
 'q16_15_8': '15th_job_chnl',
 'q16_15_9_1': '15th_job_sage',
 'q16_15_9_2': '15th_job_eage',
 'q16_15_10': '15th_job_chng_rsn',
 'q16_16_kigyou': '16th_job_emp_pos',
 'q16_16_jigyousho': '16th_job_pref',
 'q16_16_1': '16th_job_emp_pos',
 'q16_16_3': '16th_job_pref',
 'q16_16_3_toshiruikei': '16th_job_ctype',
 'q16_16_4': '16th_job_ind',
 'q16_16_5_dai': '16th_job_ind_maj',
 'q16_16_5_shou': '16th_job_ind_min',
 'q16_16_6': '16th_job_pos',
 'q16_16_7': '16th_job_fsize',
 'q16_16_8': '16th_job_chnl',
 'q16_16_9_1': '16th_job_sage',
 'q16_16_9_2': '16th_job_eage',
 'q16_16_10': '16th_job_chng_rsn',
 'q16_17_kigyou': '17th_job_emp_pos',
 'q16_17_jigyousho': '17th_job_pref',
 'q16_17_1': '17th_job_emp_pos',
 'q16_17_3': '17th_job_pref',
 'q16_17_3_toshiruikei': '17th_job_ctype',
 'q16_17_4': '17th_job_ind',
 'q16_17_5_dai': '17th_job_ind_maj',
 'q16_17_5_shou': '17th_job_ind_min',
 'q16_17_6': '17th_job_pos',
 'q16_17_7': '17th_job_fsize',
 'q16_17_8': '17th_job_chnl',
 'q16_17_9_1': '17th_job_sage',
 'q16_17_9_2': '17th_job_eage',
 'q16_17_10': '17th_job_chng_rsn'}

In [14]:
df.rename(rename_col, axis = 1, inplace = True)

In [15]:
df

,id,liv_curr_pref,age,moved,compul_educ_pref,compul_educ_ctype,num_sib,birth_order,num_sib_male,birth_order_male,...,wife_job_ind,wife_job_ind_maj,wife_job_ind_min,wife_job_pos,wife_job_f_size,wife_final_educ,income_hh,q32_1,income_ind,q33_1
0,1,10,53,1,10,4,4,3,3,3,...,44,4,66,8,1,2,99,998,99,998
1,2,10,61,1,10,4,4,3,3,3,...,13,97,997,8,98,2,99,998,99,998
2,3,10,49,1,10,4,6,3,1,1,...,13,97,997,8,98,7,99,998,99,998
3,4,10,69,1,10,4,9,6,6,6,...,13,97,997,8,98,1,99,998,99,998
4,5,10,45,1,10,4,4,1,3,1,...,48,4,66,8,2,6,99,998,99,998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4250,4251,47,42,1,47,4,4,4,2,2,...,13,97,997,8,98,8,5,998,5,998
4251,4252,47,51,1,47,4,5,4,1,1,...,13,97,997,8,98,1,8,998,5,998
4252,4253,47,52,1,47,4,1,1,1,1,...,13,97,997,8,98,2,4,998,4,998
4253,4254,47,47,1,47,4,7,4,6,3,...,18,8,251,1,99,6,4,998,4,998
4254,4255,47,33,1,47,4,6,5,3,2,...,13,97,997,8,98,7,8,998,8,998

In [16]:
x = {'a':'1','b':'2'}

In [17]:
x.update({'l':'s'})

In [18]:
x

{'a': '1', 'b': '2', 'l': 's'}

In [19]:
df.q16_1_kigyou

AttributeError: 'DataFrame' object has no attribute 'q16_1_kigyou'