In [4]:
import numpy as np
import pandas as pd

In [1]:
import os
os.getcwd()

'/home/satoshi/Documents/Projects/Japan_Migration/Codes/Jupyter_Notebooks'

In [51]:
df3 = pd.read_csv('../../Data/School/0001/0001_hei.dat')

In [52]:
df3.columns

Index(['gakkou\tseibetu\tq2_1\tq2_2\tq2_3\tq2_4\tq2_5\tq2_6\tq3.1\tq3.2\tq4.1\tq4.3.1\tq4.3.2\tq5\tq7\tq8'], dtype='object')

In [91]:
df1 = pd.read_csv('School_Statistics.dat', sep='\t')

In [97]:
df1.columns=['school_id', 'male_graduates', 'male_highschool', 'male_parttime_highschool', 'male_employed', 'male_home_and_highschool', 'male_home', 'male_others', 'female_graduates', 'female_highschool', 'female_parttime_highschool' , 'female_employed', 'female_home_and_highschool', 'female_home', 'female_others']

In [98]:
df1.columns

Index(['school_id', 'male_graduates', 'male_highschool',
       'male_parttime_highschool', 'male_employed', 'male_home_and_highschool',
       'male_home', 'male_others', 'female_graduates', 'female_highschool',
       'female_parttime_highschool', 'female_employed',
       'female_home_and_highschool', 'female_home', 'female_others'],
      dtype='object')

In [99]:
df2 = pd.read_csv('0001_otsu.dat',sep='\t', error_bad_lines=False)

In [100]:
df2.columns

Index(['gakkou', 'seibetu', 'q2_1', 'q2_2', 'q2_3', 'q2_4', 'q2_5', 'q2_6',
       'q3.1', 'q3.2', 'q4.1', 'q4.3.1', 'q4.3.2', 'q6', 'q7', 'q8', 'q9.1.2',
       'q9.2', 'q10', 'q11', 'q12', 'q13'],
      dtype='object')

In [104]:
df2.columns = ['school_id','gender','course_1','course_2','course_3', 'course_4','course_5', 'course_6', 'heir','relation_to_the_guardian','oppupation_of_the_guardian','living_standard','family_size','job_industry','job_location','job_firm_size','job_description','job_trainee_or_apprentice','job_starting_salary','job_commute_or_independent','job_employment_channel','attend_school']

In [105]:
df2.columns

Index(['school_id', 'gender', 'course_1', 'course_2', 'course_3', 'course_4',
       'course_5', 'course_6', 'heir', 'relation_to_the_guardian',
       'oppupation_of_the_guardian', 'living_standard', 'family_size',
       'job_industry', 'job_location', 'job_firm_size', 'job_description',
       'job_trainee_or_apprentice', 'job_starting_salary',
       'job_commute_or_independent', 'job_employment_channel',
       'attend_school'],
      dtype='object')

In [106]:
df3 = pd.read_csv('0001_hei.dat',sep='\t', error_bad_lines=False)

In [107]:
df3.columns

Index(['gakkou', 'seibetu', 'q2_1', 'q2_2', 'q2_3', 'q2_4', 'q2_5', 'q2_6',
       'q3.1', 'q3.2', 'q4.1', 'q4.3.1', 'q4.3.2', 'q5', 'q7', 'q8'],
      dtype='object')

In [108]:
df3.columns = ['school_id','gender','course_1','course_2','course_3','course_4','course_5','counse_6','heir','relation_to_the_guardian','occupation_of_the_guardian','living_standard','family_size','reasons_not_employed','career_plan','attending_school']

In [109]:
df3.columns

Index(['school_id', 'gender', 'course_1', 'course_2', 'course_3', 'course_4',
       'course_5', 'counse_6', 'heir', 'relation_to_the_guardian',
       'occupation_of_the_guardian', 'living_standard', 'family_size',
       'reasons_not_employed', 'career_plan', 'attending_school'],
      dtype='object')

In [110]:
df4 = pd.read_csv('0001_tei.dat',sep='\t', error_bad_lines=False)

In [111]:
df4.columns

Index(['gakkou', 'seibetu', 'q1.1', 'q1.2', 'q2', 'q4', 'q6', 'q7'], dtype='object')

In [112]:
df4.columns = ['school_id','gender','heir','relation_to_guardian','occupation_of_the_guardian','academic_scores','specialization','career_plan']

In [113]:
df4.columns

Index(['school_id', 'gender', 'heir', 'relation_to_guardian',
       'occupation_of_the_guardian', 'academic_scores', 'specialization',
       'career_plan'],
      dtype='object')