In [1]:
import pandas as pd
import os

directory = '../../../../Data/CareerHistory/0133'
name = '0133_ver2.dat'

file = os.path.join(directory, name)
df = pd.read_csv(file, sep = '\t', error_bad_lines = False)

/Users/satoshi/miniconda3/envs/jpandas/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
year = 1981

In [3]:
shorthand = {'pref':'prefecture',
             'compul':'compulsory',
             'edu':'education',
             'b':'birth',
             'ord':'order',
             'sib':'siblings',
             'ind':'industry',
             'num':'number',
             'frm':'firm',
             'curr':'current',
             'emp':'employment',
             'pos':'position',
             'ctype':'city type',
             'maj':'major',
             'min':'minor',
             'fsize':'firm size measured by employment',
             'chnl':'employment channel',
             'trans':'transfer' ,
             'chng':'change',
             'rsn':'reason',
             'sz': 'size',
             'sage':'start age',
             'eage':'end age',
             'inst':'institute',
             'sts':'special training school, sensyu or kakushu gakkou ',
             'mfg':'manufacturing',
             'ag':'agricultural',
             'med':'medical',
             'hlth':'health',
             'edu':'education',
             'deg':'degree',
             'crs':'course',
             'com':'commerce',
             'he':'household economy',
             'educ_bkg':'educational background',
             'hs':'high school',
             'clg':'college',
             'crs':'course',
             'est':'established by',
             'marr':'marriage',
             'cld':'child',
             'rgn':'region',
            }

In [4]:
rename_col = {'sampleno':'id',
              'kyojuuchi':'curr_liv_pref',
              'q1':'age',
              'q2':'mv',
              'q3':'compul_edu_pref',
              'q3_toshiruikei':'compul_edu_ctype',
              'q4_1':'num_sib',
              'q4_2':'b_ord',
              'q5_1':'num_sib_male',
              'q5_2':'b_ord_male',
              'q6d':'tot_num_trans_btw_frms',
              'q17_1':'inst_1',
              'q17_2':'inst_2',
              'q17_3':'inst_3',
              'q18':'sts',
              'q18sq1_1':'sts_mfg',
              'q18sq1_2':'sts_ag',
              'q18sq1_3':'sts_med',
              'q18sq1_4':'sts_hlth',
              'q18sq1_5':'sts_educ',
              'q18sq1_6':'sts_com',
              'q18sq1_7':'sts_he',
              'q29':'marr',
              'q29_1':'marr_age',
              'q29_2':'1st_cld_born_age',
              'q30':'wife',
              'q30_1_1':'wife_emp_pos',
              'q30_1_3':'wife_ind',
              'q30_1_4_dai':'wife_ind_maj',
              'q30_1_4_shou':'wife_ind_min',
              'q30_1_5':'wife_pos',
              'q30_1_6':'wife_f_sz',
              'q31':'wife_fin_edu',
              'q32':'inc_hh',
              'q33':'inc_ind'
            }

In [5]:
def dict_update_educ(x, y, dict_original):
    # Automate renaming for q26 and q28
    
    dict_new = {
        x + '_1': y + '_deg',
        x + '_1sq1': y + '_hs_maj',
        x + '_1sq2': y + '_clg_maj',
        x + '_2': y + '_pref',
        x + '_3': y + '_est',
        x + '_4': y + '_crs',
        x + '_5': y + '_grad',
        x + '_6_1': y + '_s_age',
        x + '_6_2': y + '_e_age',
        }
    dict_original.update(dict_new)
    
    return dict_original

In [6]:
def dict_update_chng(x, y, dict_original):
    # Automate renaming for q16
    
    dict_new = {
        x + '_kigyou': y + '_frm_id',
        x + '_jigyousho': y + '_est_id',
        x + '_1': y + '_emp_pos',
        x + '_3': y + '_pref',
        x + '_3_toshiruikei': y + '_ctype',
        x + '_4': y + '_ind',
        x + '_5_dai': y + '_ind_maj',
        x + '_5_shou': y + '_ind_min',
        x + '_6': y + '_pos',
        x + '_7': y + '_f_sz',
        x + '_8': y + '_chnl',
        x + '_9_1': y + '_s_age',
        x + '_9_2': y + '_e_age',
        x + '_10' : y + '_chng_rsn',
        }
    dict_original.update(dict_new)
    
    return dict_original

In [7]:
def dict_update_jobs(x, y, dict_original):
    # Automate renaming for q6
    
    dict_new = {
        x + '_kigyou': y + '_frm_id',
        x + '_jigyousho': y + '_est_id',
        x + '_1': y + '_emp_pos',
        x + '_3': y + '_pref',
        x + '_3_toshiruikei': y + '_ctype',
        x + '_4': y + '_ind',
        x + '_5_dai': y + '_ind_maj',
        x + '_5_shou': y + '_ind_min',
        x + '_6': y + '_pos',
        x + '_7': y + '_f_sz',
        x + 'a': y + '_chnl',
        x + 'b': y + '_s_age',
        x + 'c': y + '_e_age'
        }
    dict_original.update(dict_new)
    
    return dict_original

In [8]:
list_educ = [('q26','init_j_edu'),
             ('q28', 'fin_edu')]

In [9]:
for item in list_educ:
    dict_update_educ(item[0],item[1],rename_col)

In [10]:
list_jobs = [('q6','curr')]

In [11]:
for item in list_jobs:
    dict_update_jobs(item[0],item[1],rename_col)

In [12]:
list_chng = [('q15', 'init'),
              ('q16_1', '1st'),
              ('q16_2', '2nd'),
              ('q16_3', '3rd'),
              ('q16_4', '4th'),
              ('q16_5', '5th'),
              ('q16_6', '6th'),
              ('q16_7', '7th'),
              ('q16_8', '8th'),
              ('q16_9', '9th'),
              ('q16_10', '10th'),
              ('q16_11', '11th'),
              ('q16_12', '12th'),
              ('q16_13', '13th'),
              ('q16_14', '14th'),
              ('q16_15', '15th'),
              ('q16_16', '16th'),
              ('q16_17', '17th')
             ]

In [13]:
for item in list_chng:
    dict_update_chng(item[0], item[1], rename_col)

In [14]:
rename_col

{'sampleno': 'id',
 'kyojuuchi': 'curr_liv_pref',
 'q1': 'age',
 'q2': 'mv',
 'q3': 'compul_edu_pref',
 'q3_toshiruikei': 'compul_edu_ctype',
 'q4_1': 'num_sib',
 'q4_2': 'b_ord',
 'q5_1': 'num_sib_male',
 'q5_2': 'b_ord_male',
 'q6d': 'tot_num_trans_btw_frms',
 'q17_1': 'inst_1',
 'q17_2': 'inst_2',
 'q17_3': 'inst_3',
 'q18': 'sts',
 'q18sq1_1': 'sts_mfg',
 'q18sq1_2': 'sts_ag',
 'q18sq1_3': 'sts_med',
 'q18sq1_4': 'sts_hlth',
 'q18sq1_5': 'sts_educ',
 'q18sq1_6': 'sts_com',
 'q18sq1_7': 'sts_he',
 'q29': 'marr',
 'q29_1': 'marr_age',
 'q29_2': '1st_cld_born_age',
 'q30': 'wife',
 'q30_1_1': 'wife_emp_pos',
 'q30_1_3': 'wife_ind',
 'q30_1_4_dai': 'wife_ind_maj',
 'q30_1_4_shou': 'wife_ind_min',
 'q30_1_5': 'wife_pos',
 'q30_1_6': 'wife_f_sz',
 'q31': 'wife_fin_edu',
 'q32': 'inc_hh',
 'q33': 'inc_ind',
 'q26_1': 'init_j_edu_deg',
 'q26_1sq1': 'init_j_edu_hs_maj',
 'q26_1sq2': 'init_j_edu_clg_maj',
 'q26_2': 'init_j_edu_pref',
 'q26_3': 'init_j_edu_est',
 'q26_4': 'init_j_edu_crs',
 'q26_5': 'init_j_edu_grad',
 'q26_6_1': 'init_j_edu_s_age',
 'q26_6_2': 'init_j_edu_e_age',
 'q28_1': 'fin_edu_deg',
 'q28_1sq1': 'fin_edu_hs_maj',
 'q28_1sq2': 'fin_edu_clg_maj',
 'q28_2': 'fin_edu_pref',
 'q28_3': 'fin_edu_est',
 'q28_4': 'fin_edu_crs',
 'q28_5': 'fin_edu_grad',
 'q28_6_1': 'fin_edu_s_age',
 'q28_6_2': 'fin_edu_e_age',
 'q6_kigyou': 'curr_frm_id',
 'q6_jigyousho': 'curr_est_id',
 'q6_1': 'curr_emp_pos',
 'q6_3': 'curr_pref',
 'q6_3_toshiruikei': 'curr_ctype',
 'q6_4': 'curr_ind',
 'q6_5_dai': 'curr_ind_maj',
 'q6_5_shou': 'curr_ind_min',
 'q6_6': 'curr_pos',
 'q6_7': 'curr_f_sz',
 'q6a': 'curr_chnl',
 'q6b': 'curr_s_age',
 'q6c': 'curr_e_age',
 'q15_kigyou': 'init_frm_id',
 'q15_jigyousho': 'init_est_id',
 'q15_1': 'init_emp_pos',
 'q15_3': 'init_pref',
 'q15_3_toshiruikei': 'init_ctype',
 'q15_4': 'init_ind',
 'q15_5_dai': 'init_ind_maj',
 'q15_5_shou': 'init_ind_min',
 'q15_6': 'init_pos',
 'q15_7': 'init_f_sz',
 'q15_8': 'init_chnl',
 'q15_9_1': 'init_s_age',
 'q15_9_2': 'init_e_age',
 'q15_10': 'init_chng_rsn',
 'q16_1_kigyou': '1st_frm_id',
 'q16_1_jigyousho': '1st_est_id',
 'q16_1_1': '1st_emp_pos',
 'q16_1_3': '1st_pref',
 'q16_1_3_toshiruikei': '1st_ctype',
 'q16_1_4': '1st_ind',
 'q16_1_5_dai': '1st_ind_maj',
 'q16_1_5_shou': '1st_ind_min',
 'q16_1_6': '1st_pos',
 'q16_1_7': '1st_f_sz',
 'q16_1_8': '1st_chnl',
 'q16_1_9_1': '1st_s_age',
 'q16_1_9_2': '1st_e_age',
 'q16_1_10': '1st_chng_rsn',
 'q16_2_kigyou': '2nd_frm_id',
 'q16_2_jigyousho': '2nd_est_id',
 'q16_2_1': '2nd_emp_pos',
 'q16_2_3': '2nd_pref',
 'q16_2_3_toshiruikei': '2nd_ctype',
 'q16_2_4': '2nd_ind',
 'q16_2_5_dai': '2nd_ind_maj',
 'q16_2_5_shou': '2nd_ind_min',
 'q16_2_6': '2nd_pos',
 'q16_2_7': '2nd_f_sz',
 'q16_2_8': '2nd_chnl',
 'q16_2_9_1': '2nd_s_age',
 'q16_2_9_2': '2nd_e_age',
 'q16_2_10': '2nd_chng_rsn',
 'q16_3_kigyou': '3rd_frm_id',
 'q16_3_jigyousho': '3rd_est_id',
 'q16_3_1': '3rd_emp_pos',
 'q16_3_3': '3rd_pref',
 'q16_3_3_toshiruikei': '3rd_ctype',
 'q16_3_4': '3rd_ind',
 'q16_3_5_dai': '3rd_ind_maj',
 'q16_3_5_shou': '3rd_ind_min',
 'q16_3_6': '3rd_pos',
 'q16_3_7': '3rd_f_sz',
 'q16_3_8': '3rd_chnl',
 'q16_3_9_1': '3rd_s_age',
 'q16_3_9_2': '3rd_e_age',
 'q16_3_10': '3rd_chng_rsn',
 'q16_4_kigyou': '4th_frm_id',
 'q16_4_jigyousho': '4th_est_id',
 'q16_4_1': '4th_emp_pos',
 'q16_4_3': '4th_pref',
 'q16_4_3_toshiruikei': '4th_ctype',
 'q16_4_4': '4th_ind',
 'q16_4_5_dai': '4th_ind_maj',
 'q16_4_5_shou': '4th_ind_min',
 'q16_4_6': '4th_pos',
 'q16_4_7': '4th_f_sz',
 'q16_4_8': '4th_chnl',
 'q16_4_9_1': '4th_s_age',
 'q16_4_9_2': '4th_e_age',
 'q16_4_10': '4th_chng_rsn',
 'q16_5_kigyou': '5th_frm_id',
 'q16_5_jigyousho': '5th_est_id',
 'q16_5_1': '5th_emp_pos',
 'q16_5_3': '5th_pref',
 'q16_5_3_toshiruikei': '5th_ctype',
 'q16_5_4': '5th_ind',
 'q16_5_5_dai': '5th_ind_maj',
 'q16_5_5_shou': '5th_ind_min',
 'q16_5_6': '5th_pos',
 'q16_5_7': '5th_f_sz',
 'q16_5_8': '5th_chnl',
 'q16_5_9_1': '5th_s_age',
 'q16_5_9_2': '5th_e_age',
 'q16_5_10': '5th_chng_rsn',
 'q16_6_kigyou': '6th_frm_id',
 'q16_6_jigyousho': '6th_est_id',
 'q16_6_1': '6th_emp_pos',
 'q16_6_3': '6th_pref',
 'q16_6_3_toshiruikei': '6th_ctype',
 'q16_6_4': '6th_ind',
 'q16_6_5_dai': '6th_ind_maj',
 'q16_6_5_shou': '6th_ind_min',
 'q16_6_6': '6th_pos',
 'q16_6_7': '6th_f_sz',
 'q16_6_8': '6th_chnl',
 'q16_6_9_1': '6th_s_age',
 'q16_6_9_2': '6th_e_age',
 'q16_6_10': '6th_chng_rsn',
 'q16_7_kigyou': '7th_frm_id',
 'q16_7_jigyousho': '7th_est_id',
 'q16_7_1': '7th_emp_pos',
 'q16_7_3': '7th_pref',
 'q16_7_3_toshiruikei': '7th_ctype',
 'q16_7_4': '7th_ind',
 'q16_7_5_dai': '7th_ind_maj',
 'q16_7_5_shou': '7th_ind_min',
 'q16_7_6': '7th_pos',
 'q16_7_7': '7th_f_sz',
 'q16_7_8': '7th_chnl',
 'q16_7_9_1': '7th_s_age',
 'q16_7_9_2': '7th_e_age',
 'q16_7_10': '7th_chng_rsn',
 'q16_8_kigyou': '8th_frm_id',
 'q16_8_jigyousho': '8th_est_id',
 'q16_8_1': '8th_emp_pos',
 'q16_8_3': '8th_pref',
 'q16_8_3_toshiruikei': '8th_ctype',
 'q16_8_4': '8th_ind',
 'q16_8_5_dai': '8th_ind_maj',
 'q16_8_5_shou': '8th_ind_min',
 'q16_8_6': '8th_pos',
 'q16_8_7': '8th_f_sz',
 'q16_8_8': '8th_chnl',
 'q16_8_9_1': '8th_s_age',
 'q16_8_9_2': '8th_e_age',
 'q16_8_10': '8th_chng_rsn',
 'q16_9_kigyou': '9th_frm_id',
 'q16_9_jigyousho': '9th_est_id',
 'q16_9_1': '9th_emp_pos',
 'q16_9_3': '9th_pref',
 'q16_9_3_toshiruikei': '9th_ctype',
 'q16_9_4': '9th_ind',
 'q16_9_5_dai': '9th_ind_maj',
 'q16_9_5_shou': '9th_ind_min',
 'q16_9_6': '9th_pos',
 'q16_9_7': '9th_f_sz',
 'q16_9_8': '9th_chnl',
 'q16_9_9_1': '9th_s_age',
 'q16_9_9_2': '9th_e_age',
 'q16_9_10': '9th_chng_rsn',
 'q16_10_kigyou': '10th_frm_id',
 'q16_10_jigyousho': '10th_est_id',
 'q16_10_1': '10th_emp_pos',
 'q16_10_3': '10th_pref',
 'q16_10_3_toshiruikei': '10th_ctype',
 'q16_10_4': '10th_ind',
 'q16_10_5_dai': '10th_ind_maj',
 'q16_10_5_shou': '10th_ind_min',
 'q16_10_6': '10th_pos',
 'q16_10_7': '10th_f_sz',
 'q16_10_8': '10th_chnl',
 'q16_10_9_1': '10th_s_age',
 'q16_10_9_2': '10th_e_age',
 'q16_10_10': '10th_chng_rsn',
 'q16_11_kigyou': '11th_frm_id',
 'q16_11_jigyousho': '11th_est_id',
 'q16_11_1': '11th_emp_pos',
 'q16_11_3': '11th_pref',
 'q16_11_3_toshiruikei': '11th_ctype',
 'q16_11_4': '11th_ind',
 'q16_11_5_dai': '11th_ind_maj',
 'q16_11_5_shou': '11th_ind_min',
 'q16_11_6': '11th_pos',
 'q16_11_7': '11th_f_sz',
 'q16_11_8': '11th_chnl',
 'q16_11_9_1': '11th_s_age',
 'q16_11_9_2': '11th_e_age',
 'q16_11_10': '11th_chng_rsn',
 'q16_12_kigyou': '12th_frm_id',
 'q16_12_jigyousho': '12th_est_id',
 'q16_12_1': '12th_emp_pos',
 'q16_12_3': '12th_pref',
 'q16_12_3_toshiruikei': '12th_ctype',
 'q16_12_4': '12th_ind',
 'q16_12_5_dai': '12th_ind_maj',
 'q16_12_5_shou': '12th_ind_min',
 'q16_12_6': '12th_pos',
 'q16_12_7': '12th_f_sz',
 'q16_12_8': '12th_chnl',
 'q16_12_9_1': '12th_s_age',
 'q16_12_9_2': '12th_e_age',
 'q16_12_10': '12th_chng_rsn',
 'q16_13_kigyou': '13th_frm_id',
 'q16_13_jigyousho': '13th_est_id',
 'q16_13_1': '13th_emp_pos',
 'q16_13_3': '13th_pref',
 'q16_13_3_toshiruikei': '13th_ctype',
 'q16_13_4': '13th_ind',
 'q16_13_5_dai': '13th_ind_maj',
 'q16_13_5_shou': '13th_ind_min',
 'q16_13_6': '13th_pos',
 'q16_13_7': '13th_f_sz',
 'q16_13_8': '13th_chnl',
 'q16_13_9_1': '13th_s_age',
 'q16_13_9_2': '13th_e_age',
 'q16_13_10': '13th_chng_rsn',
 'q16_14_kigyou': '14th_frm_id',
 'q16_14_jigyousho': '14th_est_id',
 'q16_14_1': '14th_emp_pos',
 'q16_14_3': '14th_pref',
 'q16_14_3_toshiruikei': '14th_ctype',
 'q16_14_4': '14th_ind',
 'q16_14_5_dai': '14th_ind_maj',
 'q16_14_5_shou': '14th_ind_min',
 'q16_14_6': '14th_pos',
 'q16_14_7': '14th_f_sz',
 'q16_14_8': '14th_chnl',
 'q16_14_9_1': '14th_s_age',
 'q16_14_9_2': '14th_e_age',
 'q16_14_10': '14th_chng_rsn',
 'q16_15_kigyou': '15th_frm_id',
 'q16_15_jigyousho': '15th_est_id',
 'q16_15_1': '15th_emp_pos',
 'q16_15_3': '15th_pref',
 'q16_15_3_toshiruikei': '15th_ctype',
 'q16_15_4': '15th_ind',
 'q16_15_5_dai': '15th_ind_maj',
 'q16_15_5_shou': '15th_ind_min',
 'q16_15_6': '15th_pos',
 'q16_15_7': '15th_f_sz',
 'q16_15_8': '15th_chnl',
 'q16_15_9_1': '15th_s_age',
 'q16_15_9_2': '15th_e_age',
 'q16_15_10': '15th_chng_rsn',
 'q16_16_kigyou': '16th_frm_id',
 'q16_16_jigyousho': '16th_est_id',
 'q16_16_1': '16th_emp_pos',
 'q16_16_3': '16th_pref',
 'q16_16_3_toshiruikei': '16th_ctype',
 'q16_16_4': '16th_ind',
 'q16_16_5_dai': '16th_ind_maj',
 'q16_16_5_shou': '16th_ind_min',
 'q16_16_6': '16th_pos',
 'q16_16_7': '16th_f_sz',
 'q16_16_8': '16th_chnl',
 'q16_16_9_1': '16th_s_age',
 'q16_16_9_2': '16th_e_age',
 'q16_16_10': '16th_chng_rsn',
 'q16_17_kigyou': '17th_frm_id',
 'q16_17_jigyousho': '17th_est_id',
 'q16_17_1': '17th_emp_pos',
 'q16_17_3': '17th_pref',
 'q16_17_3_toshiruikei': '17th_ctype',
 'q16_17_4': '17th_ind',
 'q16_17_5_dai': '17th_ind_maj',
 'q16_17_5_shou': '17th_ind_min',
 'q16_17_6': '17th_pos',
 'q16_17_7': '17th_f_sz',
 'q16_17_8': '17th_chnl',
 'q16_17_9_1': '17th_s_age',
 'q16_17_9_2': '17th_e_age',
 'q16_17_10': '17th_chng_rsn'}

In [15]:
df.rename(rename_col, axis = 1, inplace = True)

In [16]:
df['chrt'] = year - df.age

In [17]:
df.chrt.describe()

count    4255.000000
mean     1936.231492
std        11.618535
min      1912.000000
25%      1927.500000
50%      1937.000000
75%      1946.000000
max      1956.000000
Name: chrt, dtype: float64

In [18]:
df.to_csv('0133.csv')

In [19]:
df

,id,curr_liv_pref,age,mv,compul_edu_pref,compul_edu_ctype,num_sib,b_ord,num_sib_male,b_ord_male,...,wife_ind_maj,wife_ind_min,wife_pos,wife_f_sz,wife_fin_edu,inc_hh,q32_1,inc_ind,q33_1,chrt
0,1,10,53,1,10,4,4,3,3,3,...,4,66,8,1,2,99,998,99,998,1928
1,2,10,61,1,10,4,4,3,3,3,...,97,997,8,98,2,99,998,99,998,1920
2,3,10,49,1,10,4,6,3,1,1,...,97,997,8,98,7,99,998,99,998,1932
3,4,10,69,1,10,4,9,6,6,6,...,97,997,8,98,1,99,998,99,998,1912
4,5,10,45,1,10,4,4,1,3,1,...,4,66,8,2,6,99,998,99,998,1936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4250,4251,47,42,1,47,4,4,4,2,2,...,97,997,8,98,8,5,998,5,998,1939
4251,4252,47,51,1,47,4,5,4,1,1,...,97,997,8,98,1,8,998,5,998,1930
4252,4253,47,52,1,47,4,1,1,1,1,...,97,997,8,98,2,4,998,4,998,1929
4253,4254,47,47,1,47,4,7,4,6,3,...,8,251,1,99,6,4,998,4,998,1934
4254,4255,47,33,1,47,4,6,5,3,2,...,97,997,8,98,7,8,998,8,998,1948

In [20]:
df.curr_liv_pref.unique()

array([10, 11, 13, 12, 14,  9,  8, 15, 19, 16,  1,  6,  2,  4,  3,  5,  7,
       21, 20, 18, 24, 17, 22, 23, 29, 30, 26, 25, 27, 28, 33, 35, 32, 31,
       34, 39, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47])

In [21]:
# Aggregate regions to Hokkaido, ToHoku, KanTo, ChuBu, HokuRiku, KanSai, ChuGoku, ShiKoku, KyuSyu
rgn_dict = {
    1: 'HOK',
    2: 'TH',
    3: 'TH',
    4: 'TH',
    5: 'TH',
    6: 'TH',
    7: 'TH',
    8: 'TH',
    9: 'KT',
    10: 'KT',
    11: 'KT',
    12: 'KT',
    13: 'KT',
    14: 'KT',
    15: 'CB',
    16: 'HR',
    17: 'HR',
    18: 'CB',
    19: 'CB',
    20: 'CB',
    21: 'CB',
    22: 'HR',
    23: 'HR',
    24: 'CB',
    25: 'KS',
    26: 'KS',
    27: 'KS',
    28: 'KS',
    29: 'KS',
    30: 'KS',
    31: 'CG',
    32: 'CG',
    33: 'CG',
    34: 'CG',
    35: 'CG',
    36: 'SK',
    37: 'SK',
    38: 'SK',
    39: 'SK',
    40: 'KS',
    41: 'KS',
    42: 'KS',
    43: 'KS',
    44: 'KS',
    45: 'KS',
    46: 'KS',
    47: 'KS',
    49: 'UNK',
    50: 'UNK',
    98: 'UNK',
    99: 'UNK',
}

In [22]:
# select columns that contains pref
col_pref = df.filter(regex = ('pref')).columns

In [23]:
col_pref[0][:-4]+'rgn'

'curr_liv_rgn'

In [24]:
for column in col_pref:
    new_col = column[:-4] + 'rgn'
    df[new_col] = df[column].map(rgn_dict)

In [25]:
ind_dict = {
    '1': 'AFF',
    '6': 'AFF',
    '8': 'AFF',
    '9': 'AFF',
    '10': 'HI',
    '12': 'UE',
    '13': 'ST',
    '14': 'MIL',
    '15': 'SRV',
    '18': 'LI',
    '20': 'LI',
    '21': 'LI',
    '22': 'LI',
    '23': 'LI',
    '24': 'LI',
    '25': 'LI',
    '26': 'HI',
    '27': 'HI',
    '28': 'LI',
    '29': 'LI',
    '30': 'LI',
    '31': 'HI',
    '32': 'HI',
    '33': 'HI',
    '34': 'HI',
    '35': 'HI',
    '36': 'HI',
    '37': 'HI',
    '38': 'LI',
    '40': 'COM',
    '43': 'COM',
    '44': 'COM',
    '45': 'COM',
    '46': 'SRV',
    '47': 'COM',
    '48': 'COM',
    '49': 'COM',
    '50': 'COM',
    '59': 'COM',
    '60': 'COM',
    '61': 'COM',
    '62': 'COM',
    '63': 'COM',
    '64': 'COM',
    '65': 'COM',
    '66': 'SRV',
    '67': 'SRV',
    '70': 'SRV',
    '74': 'SRV',
    '75': 'SRV',
    '76': 'SRV',
    '77': 'SRV',
    '78': 'SRV',
    '79': 'SRV',
    '81': 'SRV',
    '82': 'SRV',
    '83': 'SRV',
    '84': 'SRV',
    '85': 'SRV',
    '86': 'SRV',
    '87': 'SRV',
    '88': 'SRV',
    '89': 'SRV',
    '90': 'SRV',
    '91': 'SRV',
    '92': 'SRV',
    '93': 'SRV',
    '94': 'SRV',
    '95': 'SRV',
    '96': 'SRV',
    '97': 'SRV',
    '98': 'SRV',
    '99': 'UNK',
}

In [26]:
# select columns that ends with ind
col_ind = df.filter(regex = ('ind$')).columns

In [27]:
col_ind

Index(['curr_ind', 'init_ind', '1st_ind', '2nd_ind', '3rd_ind', '4th_ind',
       '5th_ind', '6th_ind', '7th_ind', '8th_ind', '9th_ind', '10th_ind',
       '11th_ind', '12th_ind', '13th_ind', '14th_ind', '15th_ind', '16th_ind',
       '17th_ind', 'wife_ind', 'inc_ind'],
      dtype='object')

In [28]:
col_ind[0]+'_cl'

'curr_ind_cl'

In [29]:
for column in col_ind:
    new_col = column + '_cl'
    df[new_col] = df[column].astype(str).copy()
    df[new_col] = df[new_col].map(ind_dict)

In [30]:
df.curr_ind

0       44
1       47
2       61
3       15
4       48
        ..
4250    46
4251    62
4252    62
4253    61
4254    27
Name: curr_ind, Length: 4255, dtype: int64

In [31]:
df.curr_ind_cl

0       COM
1       COM
2       COM
3       SRV
4       COM
       ...
4250    SRV
4251    COM
4252    COM
4253    COM
4254     HI
Name: curr_ind_cl, Length: 4255, dtype: object

In [32]:
df.to_csv('0133rename.csv')

In [33]:
orig_list = {
 '1': '農業',
 '6': '林業，狩猟業',
 '8': '漁業',
 '9': '水産養殖業',
 '10': '鉱業',
 '12': '無職',
 '13': '学生',
 '14': '兵役',
 '15': '建設業',
 '18': '食料品・たばこ製造業',
 '20': '繊維工業（衣服・その他の繊維製品を除く）',
 '21': '衣服・その他の繊維製品製造業',
 '22': '木材・木製品製造業（家具を除く）',
 '23': '家具・装備品製造業',
 '24': 'パルプ・紙・紙加工製造業',
 '25': '出版・印刷・同関連産業',
 '26': '化学工業',
 '27': '石油製品・石炭製品製造業',
 '28': 'ゴム製品製造業',
 '29': 'なめしかわ・同製品・毛皮製造業',
 '30': '窯業・土石製品製造業',
 '31': '鉄鋼業',
 '32': '非鉄金属製造業',
 '33': '金属製品製造業',
 '34': '一般機械器具製造業',
 '35': '電気機械器具製造業',
 '36': '輸送用機械器具製造業',
 '37': '精密機械器具製造業',
 '38': 'その他の製造業',
 '40': '卸売業',
 '43': '百貨店',
 '44': '織物・衣服・身の回り品小売業',
 '45': '飲食料品小売業',
 '46': '飲食店',
 '47': '自動車・自転車小売業',
 '48': '家具・建具・じゅう器小売業',
 '49': 'その他の小売業',
 '50': '金融・保険業',
 '59': '不動産業',
 '60': '鉄道業',
 '61': '道路旅客運送業',
 '62': '道路貨物運送業',
 '63': '水運業',
 '64': '航空運輸業',
 '65': '倉庫業',
 '66': '運輸に附帯するサービス業',
 '67': '通信業',
 '70': '電気・ガス・水道・熱供給業',
 '74': '物品賃貸業',
 '75': '旅館，その他の宿泊所',
 '76': '家事サービス業',
 '77': '洗たく・理容・浴場業',
 '78': 'その他の個人サービス業',
 '79': '映画・娯楽業',
 '81': '放送業',
 '82': '自動車整備及び駐車場業',
 '83': 'その他の修理業',
 '84': '協同組合（他に分類されないもの）',
 '85': '情報サービス・調査・広告業',
 '86': 'その他の事業サービス業',
 '87': '専門サービス業（他に分類されないもの）',
 '88': '医療業',
 '89': '保健及び廃棄物処理業',
 '90': '宗教',
 '91': '教育',
 '92': '社会保険，社会福祉',
 '93': '学術研究機関',
 '94': '政治・経済・文化団体',
 '95': 'その他のサービス業',
 '96': '外国公務',
 '97': '国家事務',
 '98': '地方事務',
 '99': '分類不能の産業（不明）'}