In [1]:
import pandas as pd
import os

directory = '../../Data/CareerHistory/0135'
file_name_label = '0135_honnin label.TXT'

file_label = os.path.join(directory, file_name_label)

In [2]:
file_name_data = '0135_honnin.csv'

file_data = os.path.join(directory, file_name_data)
df = pd.read_csv(file_data, sep = ',', error_bad_lines = False)

In [3]:
with open(file_label, 'r') as f:
    _x = f.read().splitlines()

In [4]:
def remove_empty_elements(x):
    x = [s for s in x if s]
    return x

In [5]:
x = remove_empty_elements(_x) # remove empty rows

In [6]:
def get_list_of_lists(x):
    # Return each row as a list
    list_of_lists = []
    for line in x:
        line = line.split(' ')
        line_0 = [line[0]]
        line_1 = remove_empty_elements(line[1:])
        list_of_lists.append(line_0 + line_1)
    return list_of_lists

In [7]:
list_of_lists = get_list_of_lists(x)

In [8]:
_list_of_vars = [item[0] for item in list_of_lists] # list of variables including empty rows

In [9]:
list_of_vars = remove_empty_elements(_list_of_vars)

In [10]:
list_of_vars = list_of_vars[2:]

In [11]:
def search_index(keyword, list_of_lists = list_of_lists):
    # Check if the keyword is in the list
    idx_list = []
    for idx, item in enumerate(list_of_lists):
        if keyword in item[1]:
            idx_list.append(idx)
    return idx_list

In [12]:
def search_keyword(keyword, list_of_lists = list_of_lists):
    variables = []
    for item in list_of_lists:
        if len(item) == 3:
            if keyword in item[1]:
                variables.append(item[0])
                
    # Remove empty elements
    variables = [item for item in variables if item]
    return variables

In [13]:
def return_next_var(var, list_of_vars = list_of_vars):
    # Use list of variables, taken from var_info, return the next variable
    current_idx = list_of_vars.index(var)
    next_var = list_of_vars[current_idx + 1]
    return next_var

In [14]:
def get_dict_orig(var, 
             list_of_lists = list_of_lists,
             list_of_lists_1st_elem = _list_of_vars, 
             list_of_vars = list_of_vars):
    # Return dictionary for var
    
    dict = {}
    # Get the next variable using the list of variables in the values list
    next_var = return_next_var(var)
    
    # Get the index for the list of lists of values
    idx = list_of_lists_1st_elem.index(var)
    next_idx = list_of_lists_1st_elem.index(next_var)
    
    # Slice the list of lists
    sublist = list_of_lists[idx + 6 : next_idx]
    
    for item in sublist:
        new_dict = {item[1]:item[2]}
        dict.update(new_dict)
    return dict

In [15]:
def get_dict(var, 
             list_of_lists = list_of_lists,
             list_of_lists_1st_elem = _list_of_vars, 
             list_of_vars = list_of_vars):
    # Return dictionary for var
    
    dict = {}
    
    idx = list_of_lists_1st_elem.index(var)

    if var != list_of_vars[-1]:
        # Get the next variable using the list of variables in the values list
        next_var = return_next_var(var, list_of_vars)
        
        # Get the index for the list of lists of values
        next_idx = list_of_lists_1st_elem.index(next_var)
    
        # Slice the list of lists
        sublist = list_of_lists[idx + 6 :next_idx]
    else:
        sublist = list_of_lists[idx + 6:]
    
    for item in sublist:
        new_dict = {item[1]:item[2]}
        dict.update(new_dict)
    return dict

In [16]:
def replace_val(var, df = df):
    dictionary = get_dict(var)
    df[var] = df[var].astype(str)
    df[var] = df[var].map(dictionary)

In [17]:
for var in list_of_vars:
    replace_val(var)

In [20]:
df

,ID,KEN,CITYSIZE,Q2,Q3,Q4.1.1,Q4.1.2,Q4.2.1,Q4.2.2,Q4.2.3,...,Q12O7,Q12P1.1,Q12P1.2,Q12P2,Q12P3,Q12P4,Q12P5,Q12P6.1,Q12P6.2,Q12P7
0,0,岩手,人口10万人未満の都市,有配偶者,6人,男,NaN,配偶者,女,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,岩手,人口10万人未満の都市,有配偶者,4人,男,NaN,配偶者,女,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,岩手,人口10万人未満の都市,有配偶者,5人,男,NaN,配偶者,女,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,岩手,人口10万人未満の都市,有配偶者,4人,男,NaN,配偶者,女,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,岩手,人口10万人未満の都市,未婚,3人,男,NaN,自分の父母,男,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4874,990115,埼玉,郡部（町村）,有配偶者,5人,女,NaN,配偶者,男,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4875,990116,埼玉,郡部（町村）,有配偶者,7人,女,NaN,配偶者,男,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4876,990117,埼玉,郡部（町村）,有配偶者,2人,女,NaN,配偶者,男,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4877,990118,埼玉,郡部（町村）,有配偶者,2人,女,NaN,配偶者,男,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4878,990119,埼玉,郡部（町村）,有配偶者,5人,女,NaN,配偶者,男,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
def replace_val(keyword, df = df):
    variables = search_keyword(keyword)
    dictionary = get_dict(variables[0])
    for item in variables:
        df[item] = df[item].astype(str)
        df[item] = df[item].map(dictionary)

In [22]:
idxs = [_list_of_vars.index(item) for item in list_of_vars][2:]

In [23]:
# Can be used to replace column names
variables_dict = [{list_of_lists[idx][0]:list_of_lists[idx][1]} for idx in idxs]